{{#:maintempl}}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{language}}" lang="{{language}}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{sitehead}} - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
	<link rel="icon" type="image/png" href="/images/mortchartico.png" />
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href="atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" />
	<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">{{sitehead}}</a>
            </div>
            <div id="navigation">
		<h1>{{sitenavhead}}</h1>
			<a href="/">{{homehead}}</a>{{#maintempldicts}}
			<a href="/{{plottype}}.html">{{alias}}</a>{{/maintempldicts}}
			<a href="/mortchartdoc.html">{{dochead}}</a>
		<h1>{{blognavhead}}</h1>
			<a href="http://diversepedanteri.blogspot.se">2008&ndash;2013</a>
			<a href="http://klpn.se">2013&ndash;2016</a>
			<a href="http://static-dust.klpn.se">2016&ndash;</a>
		<h1>{{othlanghead}}</h1>{{#othlangs}}
			<a href="{{{langurl}}}">{{langalias}}</a>{{/othlangs}}
            </div>
        </div>

        <div id="content">

            $body$
        </div>

        <div id="footer">
		{{{footer}}}	
        </div>
    </body>
</html>{{/:maintempl}}
