<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sv" lang="sv">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Mortalitetsdiagram - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
	<link rel="icon" type="image/png" href="/images/mortchartico.png" />
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href="atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" />
	<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">Mortalitetsdiagram</a>
            </div>
            <div id="navigation">
		<h1>Denna webbplats</h1>
		<a href="/">Hem</a>{{#:maintempldicts}}
		<a href="/{{plottype}}.html">{{alias}}</a>{{/:maintempldicts}}
		<a href="/mortchartdoc.html">Dokumentation</a>
		<h1>Annat av mig</h1>
			<a href="http://diversepedanteri.blogspot.se">Blogg 2008&ndash;2013</a>
			<a href="http://klpn.se">Blogg 2013&ndash;2016</a>
			<a href="http://static-dust.klpn.se">Blogg 2016&ndash;</a>
			<a href="https://github.com/klpn">GitHub-projekt</a>
            </div>
        </div>

        <div id="content">

            $body$
        </div>

        <div id="footer">
		Webbplatsen drivs av <a href="mailto:karl_pettersson_1998@yahoo.com">Karl Pettersson</a> och har genererats med <a href="http://julialang.org/">Julia</a> och
	   <a href="http://jaspervdj.be/hakyll">Hakyll</a>. <a href="https://github.com/klpn/Mortchartgen.jl">Källkod.</a> Kakor används för inställningar för <a href="http://bokeh.pydata.org/en/latest/">Bokeh</a> och <a href="https://www.mathjax.org/">MathJax</a>; dessa funktioner kräver också att Javascript är aktiverat.
        </div>
    </body>
</html>
