<ul>{{#cadicts}}
<li><a href="#{{name}}">{{alias}}</a>{{/cadicts}}</ul>
{{#cadicts}}
<h2 id="{{name}}">{{alias}}</h2>
<table>
{{#children}}
<tr>
<th>
{{alias}}
</th>
<td>
<ul>{{#ages}}
<li> <a href="/charts/{{fname}}">{{alias}}</a></li>{{/ages}}</ul>
</td>
</tr>
{{/children}}
</table>
{{/cadicts}}
